{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Kemijske spojine - Admin{% endblock %}</title>
    {% block head_meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Spletna aplikacija za poimenovanje kemijskih spojin">
        <meta name="author" content="Tajda Černigoj, Luka Peršolja, Patrik Žnidaršič">
    {% endblock %}
    {% block head_css %}
        <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='navbar.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% if admin_view.extra_css %}
          {% for css_url in admin_view.extra_css %}
            <link href="{{ css_url }}" rel="stylesheet">
          {% endfor %}
        {% endif %}
    {% endblock %}
    {% block head %}
    {% endblock %}
    {% block head_tail %}
    {% endblock %}
  </head>
  <body>
    {% block page_body %}
    <!-- <div class="container{%if config.get('FLASK_ADMIN_FLUID_LAYOUT', False) %}-fluid{% endif %}"> -->
      <nav class="navbar navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% block brand %}
            <a class="navbar-brand" href="{{ admin_view.admin.url }}">Kemijske spojine - Admin</a>
          {% endblock %}
        </div>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
          {% block main_menu %}
          <ul class="nav navbar-nav">
            {{ layout.menu() }}
          </ul>
          {% endblock %}

          {% block menu_links %}

          {% endblock %}

          {% block access_control %}
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">{{current_user.username}}</p></li>
            <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-user"></span> Odjava</a></li>
          </ul>
          {% endblock %}
        </div>
      </nav>
<div class="center">
      {% block messages %}
      {{ layout.messages() }}
      {% endblock %}

      {# store the jinja2 context for form_rules rendering logic #}
      {% set render_ctx = h.resolve_ctx() %}
      {% block body %}
      {% endblock %}
      </div>
    <!-- </div> -->
    {% endblock %}

    {% block tail_js %}
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {% if admin_view.extra_js %}
      {% for js_url in admin_view.extra_js %}
        <script src="{{ js_url }}" type="text/javascript"></script>
      {% endfor %}
    {% endif %}
    {% endblock %}

    {% block tail %}
    {% endblock %}
    <footer>
    <div class="footer-left">
      &copy; Tajda Černigoj, Luka Peršolja, Patrik Žnidaršič
    </div>
    <div class="footer-right">
      Gimnazija Vič
    </div>
  </footer>
  </body>
</html>
