{% extends "shema.html" %}

{% block content %}
    <p>
        <h3>Izberi težavnost!</h3>
    </p>
    <p>
      <ul class="list-group">
      <li class="list-group-item"><a href="{{url_for('izberi_vrsto', kategorija='binarne')}}">Binarne spojine</a></li>
      <li class="list-group-item"><a href="{{url_for('izberi_vrsto', kategorija='soli')}}">Soli</a></li>
      <li class="list-group-item"><a href="{{url_for('izberi_vrsto', kategorija='baze')}}">Baze</a></li>
      <li class="list-group-item"><a href="{{url_for('izberi_vrsto', kategorija='kisline')}}">Kisline</a></li>
      <li class="list-group-item"><a href="{{url_for('izberi_vrsto', kategorija='kh')}}">Kristalohidrati</a></li>
      <li class="list-group-item"><a href="{{url_for('izberi_vrsto', kategorija='hs')}}">Hidrogensoli</a></li>
      </ul>
    </p>
{% endblock %}