{% extends "shema.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<br>
    <div class="left">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Prijava</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary" type="submit">Prijavi se!</button>
      </form>
      <br>
    <a href="{{ url_for("facebook.login") }}"><button type="submit" class='btn btn-lg btn-fb'><i class="fa fa-facebook fa-fw"></i> Login with Facebook!</button></a>

    </div> <!-- /container -->
{% endblock %}
