{% macro empty(string) %}
{% if string != '' and string%}
    <p class='error'>{{string}}</p>
{% else %}
	<p class="correct">Pravilno!</p>
{% endif %}
{% endmacro %}

{% macro check(string) %}
{% if string%}
    <p class='error'>{{string}}</p>
{% endif %}
{% endmacro %}


{% macro pravilno(arr) %}
{% if arr is not string %}
      {%for i in arr%}
      {%with%}
      {% if prev != i %}
      {% if i == arr[-1] %}
      <i class="resitev" style="display: none;"> {{i}} </i>
      {% else %}
      <i class="resitev" style="display: none;"> {{i}}, </i>
      {% endif %}
      {% endif %}
      {% set prev = i %}
      {% endwith %}
      {%endfor%}

{% else%}
<i class="resitev" style="display: none;"> {{arr|safe}} </i>
{% endif %}
{% endmacro %}


