{% extends "shema.html" %}
{% import "wtf.html" as wtf %}
{% from "macros.html" import empty, pravilno with context %}

{% block content %}
  <h2>Poimenuj spojine!</h2>

  <br>
  {{spojine[0]|safe}}&nbsp; -> &nbsp;<b>{{odgovori[0]}}</b><br>
  {{pravilno(pravilni[0])}}
  {{empty(napake[0])}}


  {{spojine[1]|safe}}&nbsp; -> &nbsp;<b>{{odgovori[1]}}</b><br>
  {{pravilno(pravilni[1])}}
  {{empty(napake[1])}}


  {{spojine[2]|safe}}&nbsp; -> &nbsp;<b>{{odgovori[2]}}</b><br>
  {{pravilno(pravilni[2])}}
  {{empty(napake[2])}}


  {{spojine[3]|safe}}&nbsp; -> &nbsp;<b>{{odgovori[3]}}</b><br>
  {{pravilno(pravilni[3])}}
  {{empty(napake[3])}}


  {{spojine[4]|safe}}&nbsp; -> &nbsp;<b>{{odgovori[4]}}</b><br>
  {{pravilno(pravilni[4])}}
  {{empty(napake[4])}}

  <br>

  {% if score %}
  Število pravilnih odgovorov: {{score}}
  {% endif %}
  <br>
  <button class="btn btn-primary" onclick="show_item()">Prikaži pravilne odgovore!</button>
  <br>
  <button class="btn btn-lg btn-primary" type="submit" onClick="window.location.replace(location.pathname);"> Nove spojine</button>

{% endblock %}
