{% extends "shema.html" %}
{% import "wtf.html" as wtf %}

{% block content %}
    <p>
        <h2>Poimenuj spojine!</h2>
    </p>
    <p>
      {%if razred and razred!="---" and kategorija and kategorija!='---'%}
      Najboljši v razredu <b>{{razred}}</b> in kategoriji <b>{{kategorija}}</b>
      {%elif razred and razred!="---"%}
      Najboljši v razredu <b>{{razred}}</b>
      {%elif kategorija and kategorija!='---'%}
      Najboljši v kategoriji <b>{{kategorija}}</b>
      {%endif%}
    	<table class="table table-bordered">
        <tr>
            <td>Uporabnik</td>
            <td>Točke</td>
        </tr>
        {% for username, score in najboljsi %}
            <tr>
                <td>{{username}}</td>
                <td>{{score}}</td>
            </tr>
        {% endfor %}
    </table>

    </p>
<div>
    <form class="form-answer" method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.izberi_razred) }}
        {{ wtf.form_field(form.izberi_kategorijo) }}
    <button class="btn btn-lg btn-primary" type="submit">Preveri!</button>
    </form>
</div>
{% endblock %}