<html>
<head>
  <title>Naša testna stran</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <!-- style mogoce ne bo delov tkole v productionu -->
</head>
<body>
<div id="stran">
  <h1>
    Naša testna stran
    </h1>
    <p id="navigation">
        <a href="/">Domov</a>
        <a href="/vislice">Vislice</a>
        <a href="/lestvica">Lestvica</a>
        <a href="/druga_stran">Blog</a>
        <span style="float: right">
            {% if not session['user'] %}
                <a href="/login">Prijava</a>
            {% else %}
                {{ session['user'][1] }}
                <a href="/logout">Odjava</a>
            {% endif %}
        </span>
    </p>
    <h2>
        {% block podnaslov %}
        {% endblock %}
    </h2>
    {% if error %}
        <p class='error'>
            {{ error }}
        </p>
    {% endif %}
    <div>
        {% block vsebina %}
        {% endblock %}
    </div>
    {% if error %}
        <p class='error'>
            {{ error }}
        </p>
    {% endif %}

</div>
</body>
</html>

