{% block doc -%}
<!DOCTYPE html>
<html lang='sl'>
{%- block html %}
  <head>
    {%- block head %}
    <title>Kemijske spojine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Spletna aplikacija za poimenovanje kemijskih spojin">
    <meta name="author" content="Tajda Černigoj, Luka Peršolja, Patrik Žnidaršič">
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='navbar.css')}}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}

    {% block navbar %}
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('index')}}">Kemijske Spojine</a>
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  <div id="navbarCollapse" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('index')}}" data-toggle="collapse" data-target="#navbarCollapse">Domov</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle active" data-toggle="dropdown" href="#">Naloge
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{url_for('vislice')}}" data-toggle="collapse" data-target="#navbarCollapse">Vislice</a></li>
          <li class="divider"></li>
          <li><a href="{{url_for('izberi_vrsto', kategorija='binarne')}}" data-toggle="collapse" data-target="#navbarCollapse">Binarne spojine</a></li>
          <li><a href="{{url_for('izberi_vrsto', kategorija='soli')}}" data-toggle="collapse" data-target="#navbarCollapse">Soli</a></li>
          <li><a href="{{url_for('izberi_vrsto', kategorija='kisline')}}" data-toggle="collapse" data-target="#navbarCollapse">Kisline</a></li>
          <li><a href="{{url_for('izberi_vrsto', kategorija='baze')}}" data-toggle="collapse" data-target="#navbarCollapse">Baze</a></li>
          <li><a href="{{url_for('izberi_vrsto', kategorija='kh')}}" data-toggle="collapse" data-target="#navbarCollapse">Kristalohidrati</a></li>
          <li><a href="{{url_for('izberi_vrsto', kategorija='hs')}}" data-toggle="collapse" data-target="#navbarCollapse">Hidrogensoli</a></li>
        </ul>
      </li>
      <li><a href="{{url_for('lestvica')}}" data-toggle="collapse" data-target="#navbarCollapse">Lestvica</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    {% if current_user.is_authenticated %}
    <li><p class="navbar-text">{{current_user.username}}</p></li>
  <li><a href="{{url_for('logout')}}" data-toggle="collapse" data-target="#navbarCollapse"><span class="glyphicon glyphicon-user"></span> Odjava</a></li>
	{% else %}
    <li><a href="{{url_for('login')}}" data-toggle="collapse" data-target="#navbarCollapse"><span class="glyphicon glyphicon-log-in"></span> Prijava</a></li>
      <li><a href="{{url_for('register')}}" data-toggle="collapse" data-target="#navbarCollapse"><span class="glyphicon glyphicon-user"></span> Registracija</a></li>
	{% endif %}
    </ul>
  </div>
  </div>
</nav>
    {%- endblock navbar %}

    <div class="center">
        {% block content -%}
        {%- endblock content %}
    </div>

    <footer>
		<div class="footer-left">
			&copy; Tajda Černigoj, Luka Peršolja, Patrik Žnidaršič
		</div>
		<div class="footer-right">
			Gimnazija Vič 2018/2019
		</div>
	</footer>

    {% block scripts %}
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {%- endblock scripts %}

    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}