{% extends "shema.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block authenticated %}
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href="{{url_for('index')}}">Kemijske Spojine</a>
</div>
<ul class="nav navbar-nav">
  <li><a href="{{url_for('index')}}">Domov</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle active" data-toggle="dropdown" href="#">Naloge
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{{url_for('vislice')}}">Vislice</a></li>
      <li class="divider"></li>
      <li><a href="{{url_for('izberi_vrsto', kategorija='binarne')}}">Binarne spojine</a></li>
      <li><a href="{{url_for('izberi_vrsto', kategorija='soli')}}">Soli</a></li>
      <li><a href="{{url_for('izberi_vrsto', kategorija='kisline')}}">Kisline</a></li>
      <li><a href="{{url_for('izberi_vrsto', kategorija='baze')}}">Baze</a></li>
      <li><a href="{{url_for('izberi_vrsto', kategorija='kh')}}">Kristalohidrati</a></li>
    </ul>
  </li>
  <li><a href="{{url_for('lestvica')}}">Lestvica</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><p class="navbar-text">{{current_user.username}}</p></li>
  <li><a href="{{url_for('logout')}}"><span class="glyphicon glyphicon-user"></span> Odjava</a></li>
</ul>
</div>
</nav>
{% endblock %}

{% block unauthenticated %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('index')}}">Kemijske Spojine</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('index')}}">Domov</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle active" data-toggle="dropdown" href="#">Naloge
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{url_for('vislice')}}">Vislice</a></li>
          <li class="divider"></li>
          <li><a href="{{url_for('izberi_vrsto', kategorija='binarne')}}">Binarne spojine</a></li>
          <li><a href="{{url_for('izberi_vrsto', kategorija='soli')}}">Soli</a></li>
          <li><a href="{{url_for('izberi_vrsto', kategorija='kisline')}}">Kisline</a></li>
          <li><a href="{{url_for('izberi_vrsto', kategorija='baze')}}">Baze</a></li>
          <li><a href="{{url_for('izberi_vrsto', kategorija='kh')}}">Kristalohidrati</a></li>
        </ul>
      </li>
      <li><a href="{{url_for('lestvica')}}">Lestvica</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Prijava</a></li>
      <li><a href="{{url_for('register')}}"><span class="glyphicon glyphicon-user"></span> Registracija</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
{% if not konec%}
    <div class="center">
    <p>
        <h2>Poimenuj spojine!</h2>
    </p>
    {{score}}<br>
    {{session['napake']}}
    <p>
    	<form class="form-answer" method="POST">
    	{{ form.hidden_tag() }}
        {{spojina|safe}}<br>
        {{ wtf.form_field(form.o0) }}
        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </p>
</div>
{%else%}
    <p>
        <h2>KONEC IGRE!</h2>
        <button class="btn btn-lg btn-primary" type="submit" onClick="window.location.replace(location.pathname);"> Nove spojine</button>
    </p>

{%endif%}
{% endblock %}