{% extends "shema.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "macros.html" import empty, pravilno with context %}

{% block content %}
    <p>
      {%if vrsta%}
      <h2>Vpiši formule!</h2>
      {%else%}
        <h2>Poimenuj spojine!</h2>
      {%endif%}
    </p>
    <p>
      {%if kat == 'kh' and vrsta%}
      <b>Namig: Krat piši z zvezdico ( * )!</b>
      {%endif%}
        
        <form class="form-answer" method="POST">
        {{ form.hidden_tag() }}
        {{spojine[0]|safe}}<br>
        {{ wtf.form_field(form.o0) }}
        {{spojine[1]|safe}}<br>
        {{ wtf.form_field(form.o1) }}
        {{spojine[2]|safe}}<br>
        {{ wtf.form_field(form.o2) }}
        {{spojine[3]|safe}}<br>
        {{ wtf.form_field(form.o3) }}
        {{spojine[4]|safe}}<br>
        {{ wtf.form_field(form.o4) }}
        <button class="btn btn-lg btn-primary" type="submit">Preveri!</button>
        </form>

    </p>
{% endblock %}
