{% extends "shema.html" %}

{% block content %}
{% if kategorija=='kh' %}
<h3 style="margin-top: 1.5vh">Izberite vrsto naloge — kristalohidrati</h3>
<br>
Pri naslednjih nalogah so dana imena kristalohidratov. Napiši njihove kemijske formule. Pazi na pravilnost zapisa simbolov elementov (npr. brom naj bo zapisan kot <b>Br</b> in NE kot BR ali br).
{% elif kategorija=='binarne' %}
<h3 style="margin-top: 1.5vh">Izberite vrsto naloge — binarne spojine</h3>
<br>
Pri naslednjih nalogah so dana imena binarnih spojin. Napiši njihove kemijske formule. Pazi na pravilnost zapisa simbolov elementov (npr. brom naj bo zapisan kot <b>Br</b> in NE kot BR ali br).
{% elif kategorija=='soli' %}
<h3 style="margin-top: 1.5vh">Izberite vrsto naloge — soli oksokislin</h3>
<br>
Pri naslednjih nalogah so dana imena soli oksokislin ter imena soli mravljinčne in ocetne kisline. Napiši njihove kemijske formule. Pazi na pravilnost zapisa simbolov elementov (npr. brom naj bo zapisan kot <b>Br</b> in NE kot BR ali br).
{% elif kategorija=='kisline' %}
<h3 style="margin-top: 1.5vh">Izberite vrsto naloge — kisline</h3>
<br>
Pri naslednjih nalogah so dana imena kislin. Napiši njihove kemijske formule. Pazi na pravilnost zapisa simbolov elementov (npr. brom naj bo zapisan kot <b>Br</b> in NE kot BR ali br).
{% elif kategorija=='baze' %}
<h3 style="margin-top: 1.5vh">Izberite vrsto naloge — baze</h3>
Pri naslednjih nalogah so dana imena baz. Napiši njihove kemijske formule. Pazi na pravilnost zapisa simbolov elementov (npr. kalcij naj bo zapisan kot <b>Ca</b> in NE kot CA ali ca).
{% else %}
<h3 style="margin-top: 1.5vh">Izberite vrsto naloge — hidrogensoli</h3>
<br>
Pri naslednjih nalogah so dana imena hidrogensoli. Napiši njihove kemijske formule. Pazi na pravilnost zapisa simbolov elementov (npr. brom naj bo zapisan kot <b>Br</b> in NE kot BR ali br).
{% endif %}
<br>
<a href="{{urls[0]}}">
	<button class="btn btn-primary bottom"> Igraj!</button>
</a>
<br>
{% if kategorija=='kh' %}
Pri naslednjih nalogah so dane formule kristalohidratov. Napiši njihova imena. Pri soleh oksokislin lahko napišeš ime po Stockovem sistemu ali sprejemljiva običajna imena. V imenih spojin kovin prve in druge skupine ter aluminijevih spojin ne piši oksidacijskega števila kovine. Pri imenovanju po Stockovem sistemu piši oksidacijsko število z rimsko številko (velike črke) v oklepaju takoj za imenom prvega elementa (stično, brez presledka).
{% elif kategorija=='binarne' %}
Pri naslednjih nalogah so dane formule binarnih spojin. Napiši njihova imena po Stockovem sistemu ali s števniki. V imenih spojin kovin prve in druge skupine ter aluminijevih spojin ne piši oksidacijskega števila kovine. Pri imenovanju po Stockovem sistemu piši oksidacijsko število z rimsko številko (velike črke) v oklepaju takoj za imenom prvega elementa (stično, brez presledka).
{% elif kategorija=='soli' %}
Pri naslednjih nalogah so dane formule soli oksokislin ter formule soli mravljinčne in ocetne kisline. Napiši njihova imena po Stockovem sistemu ali sprejemljiva običajna imena. V imenih spojin kovin prve in druge skupine ter aluminijevih spojin ne piši oksidacijskega števila kovine. Pri imenovanju po Stockovem sistemu piši oksidacijsko število z rimsko številko (velike črke) v oklepaju takoj za imenom prvega elementa (stično, brez presledka).
{% elif kategorija=='kisline' %}
Pri naslednjih nalogah so dane formule kislin. Napiši njihova imena. Pri oksokislinah lahko napišeš ime po Stockovem sistemu ali sprejemljiva običajna imena. Pri imenovanju po Stockovem sistemu piši oksidacijsko število z rimsko številko (velike črke) v oklepaju takoj za imenom prvega elementa (stično, brez presledka).
{% elif kategorija=='baze' %}
Pri naslednjih nalogah so dane formule baz. Napiši njihova imena.
{% else %}
Pri naslednjih nalogah so dane formule hidrogensoli. Napiši njihova imena. V imenih spojin kovin prve in druge skupine ter aluminijevih spojin ne piši oksidacijskega števila kovine. Pri imenovanju po Stockovem sistemu piši oksidacijsko število z rimsko številko (velike črke) v oklepaju takoj za imenom prvega elementa (stično, brez presledka).
{% endif %}
<br>
<a href="{{urls[1]}}">
	<button class="btn btn-primary bottom"> Igraj!</button>
</a>
<br>
<h3>Primer</h3>
{% if kategorija=='kh' %}
<b>Al(ClO<sub>4</sub>)<sub>3</sub>·<span style="color: red">9</span>H<sub>2</sub>O</b> – spojina ima ime <b>aluminijev klorat(VII) <span style="color: red">nona</span>hidrat</b> ali <b>aluminijev perklorat <span style="color: red">nona</span>hidrat</b> (sprejemljivo običajno ime)
{% elif kategorija=='binarne' %}
<b>CaF<span style="color: red"><sub>2</sub></span></b> - spojine ima ime <b>kalcijev <span style="color: red">di</span>fluorid</b> ali <b>kalcijev fluorid</b> (števnik lahko izpustimo)
{% elif kategorija=='soli' %}
<b>Ca(<span style="color: red">Cl</span>O<sub>4</sub>)<sub>2</sub></b> - spojina ima ime <b>kalcijev klorat(<span style="color: red">VII</span>)</b> (rimska sedem zato, ker ClO4<sup>-</sup> »(Stockov sistem imenovanja z navedbo oksidacijskega števila) ali <b>kalcijev perklorat</b> (sprejemljivo običajno ime)
{% elif kategorija=='kisline' %}
<b>HNO<span style="color: red"><sub>2</sub></span></b> – spojina ima ime <b>dušikova(III) kislina</b> (Stockov sistem imenovanja z navedbo oksidacijskega števila) ali <b>dušikasta kislina</b> (sprejemljivo običajno ime)
{% elif kategorija=='baze' %}
<b>Ca(OH)<sub>2</sub></b> - spojina ima ime kalcijev hidroksid
{% else %}
<b>Rb<span style="color: red">H</span>SO<sub>3</sub></b> – spojina ima ime <b>rubidijev <span style="color: red">hidrogen</span>sulfat(IV)</b> (Stockov sistem imenovanja z navedbo oksidacijskega števila) ali <b>rubidijev <span style="color: red">hidrogen</span>sulfit</b> (sprejemljivo običajno ime)
{% endif %}
{% endblock %}