h1, h2 {
    color: #2680d1;
}

.bottom {
  margin-bottom: 2vh;
}

table, td, th {
    border: 1px solid grey;
    border-collapse: collapse;
}

.center {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1vh;
}

.left {
  text-align: left;
}

.flash{
list-style-type:none;
margin-bottom: 0px;
padding-left: 0px;
}

.error, .help-block {
    color: red;
    background-color: #f3babd;
    padding: 0.2em;
    border-radius: 10px;
    border: red 1px solid;
    margin-top: 5px
}
.correct {
    color: green;
    background-color: #aceace;
    padding: 0.2em;
    border-radius: 10px;
    border: green 1px solid;
}

#izberi_razred, #izberi_kategorijo {
  width: 50%;
  margin-left: 25%;
}


i.resitev {
    display: none;
}
.footer-left, .footer-right {
    display: inline-block;
}

.footer-left {
    float: left;
    margin-left: 20px;
}
.footer-right {
    float: right;
    margin-right: 20px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2680d1;
    color: white;
    float: bottom;
}
.btn {
    border: 0;
    border-radius: 5px;
    background-color: #2680d1;
    margin-top: 2vh;
}
.btn-fb {
    background-color: #3B5998;
    color: white;
    opacity: 0.85;
    border-radius: 5px;
}
.btn-fb:hover{
    opacity: 1;
    color: white;
}
.table {
  width: 50%;
  margin-left: 25%;
}

.form-signin-heading{
  margin-top: 1vh;
}

.besedilo {
  font-size: 1.1rem;
}

@media (max-width: 767px) {
  .center {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 6vh;
    text-align: justify;
  }
  .footer-left {
    display: block;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    float: none;
  }
  .footer-right{
    display:none;
  }
  .bottom {
  margin-bottom: 6vh;
  }
  .navbar-brand {
    margin-right: 0.1rem;
    font-size: 1.07rem;
  }
  .navbar-toggler {
    display: inline-block;
    padding: .2rem .5rem;
  }

  .besedilo {
  font-size: 1rem;
}

}
